nav {
    margin-bottom: 100px;
}

.spacing {
    margin-bottom: 30px;
}

.rowSpacing {
    height: 670px;
}

.card {
    padding: 10px;
    height: 300px;
}

.mainPage {
    padding: 0;
    margin-right: 100px;
    margin-left: 100px;
}
